.graphs_container {
    display: flex;
    flex-direction: column;

    gap: 40px;
    width: 100%;
}

.graph {
    position: relative;
    box-sizing: border-box;

    width: 100%;

    padding: 12px 20px;

    background: var(--additionalColor-primary);
}

.graph__axes {
    color: var(--textColor-primary);
}

.graph__line {
    color: var(--textColor-primary);
}

.graph__tooltip {
    position: absolute;
    padding: 10px;

    border-radius: 5px;
    white-space: pre;

    color: white;
    background-color: black;
    z-index: 1000;
}